numpy==1.26.4
pandas==2.2.2
matplotlib==3.10.9
pymc==5.25.1
arviz==0.23.4
ipykernel==7.2.0
statsmodels

# run this command to install required c++ compiler for PyTensor(PyMC) successfully
conda install -c conda-forge m2w64-toolchain gxx_windows